<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Vue.js with AJAX</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">
		<style>
		[v-cloak] {display: none}
		</style>
		<link rel="stylesheet" href="style.css">
	</head>
    <body>

        <div id="app" v-cloak>
            <h1>Search</h1>
            Test id: 100384068
            <br />
            <textarea v-model="pvIdList" type="search" cols="45" rows=10></textarea>
            <br />
            <button @click="multiSearch">Search</button>
            <hr />

            <div>
                <div class="result">
                    <template v-for="result in results">
                        {{result.firstName}} {{result.lastName}}
                        <br />
                    </template>
                </div>
                <div class="result">
                    <template v-for="result in results">
                        {{result.korePrimaryArchticsId}}
                        <br />
                    </template>
                </div>
                <div class="result">
                    <template v-for="result in results">
                        {{result.contactId}}
                        <br />
                    </template>
                </div>
                <div class="result">
                    <template v-for="result in results">
                        {{result.emailAddress1}}
                        <br />
                    </template>
                </div>
            </div>
            <br />

            <div v-show="searching">
                <i>Searching...</i>
            </div>
            <div v-if="noResults">
                <i>No Results</i>
            </div>
        </div>
        <br />

        <script src="https://unpkg.com/vue"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
        <script src="app.js"></script>
    </body>
</html>